<div class="container">

    <div class="content">

        <div class="image">
              <img src="../assets/inicio.svg" alt="" srcset="">
        </div>

        <div class="texto">
          <h2>Olá, seja bem vindo(a)!</h2>

          <div class="text">
            <button routerLink="/login" mat-raised-button class="entrar-home mat-elevation-z4"><strong>Entrar</strong></button>
            <button routerLink="/cadastro" mat-raised-button class="entrar-home  mat-elevation-z4 "><strong>Criar conta</strong></button>
          </div>
          </div>
    </div>

  </div>


